@import './post-content.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #F9FAFB;
  --color-bg-light: #FFFFFF;
  --color-bg-dark: #D1D5DB;
  --color-bg-lighter: #F3F4F6;
  --color-bg-darker: #E5E7EB;
  --color-bg-desaturated: #F1F5F9;
  --color-bg-muted: #EDEDED;

  --color-text: #1F2937;
  --color-primary: #00DDB3;
  --color-primary-light: #4EF2D0;
  --color-primary-dark: #009F86;
  --color-primary-darker: #007A5C;
  --color-primary-lighter: #cbfdf2;
  --color-primary-lightest: #ecfff9;
  --color-primary-desaturated: #4DC3A8;

  --color-secondary: #38BDF8;
  --color-accent: #F472B6;
  --color-component-bg: #E5E7EB;
  --color-border: #D1D5DB;
}


